html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  overflow: hidden;
}

/* Page Switcher */
.sub-page-container {
  width: 300vw;

  transition: left 300ms;
  transition-timing-function: ease-in-out;

  overflow: hidden;

  display: flex;
  flex-direction: row;
}

.sub-page {
  width: 100vw;
}

/* Navbar */
.navbar-center {
  display: flex;
  flex-direction: row;
}

.navbar-center-left {
  margin-left: auto;
}

.navbar-center-right {
  margin-right: auto;
}

.navbar-item {
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover {
  color: rgb(71, 71, 71);
  transition: color 400ms;
}

/* LoadoutInput */
.close-icon {
  padding: 5px;

  transition-duration: 0.8s;
  transition-property: transform;
}

.close-icon:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.close-icon:active {
  background-color: rgb(10, 10, 10, 0.1);
  border-radius: 25px;

  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.auto-complete-div-width-fix > div {
  width: 100%;
}